header
  border-bottom: $header-bottom-border
  padding: 1em
  
  .wrapper
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    justify-content: space-between
    
  .site-logo
    width: 200px
    height: auto
    
  .site-search
    display: none
    width: 100%