header
  border-bottom: $header-bottom-border
  background-image: $header-background
  background-position: center
  background-size: cover
  padding: 1em
  
  .wrapper
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    justify-content: space-between
    
  .site-logo
    width: 92px
    height: auto
    
  .site-search
    display: none
    width: 100%
    
  .utility-bar
    display: flex
    align-items: center
    button
      appearance: none
      border: none
      font-size: 2em
      background: transparent
      cursor: pointer
      outline: none
      &:hover
        color: $button-hover-color
    .glink
      margin: 0 5px
      &:last-of-type
        margin-right: 0