//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

//colors
$black : black
$white : white
$light-gray : #efefef
$red   : #f81f22
$purple : #912f8a

//base
$font-main: Lato, Helvetica 

//header
$header-bottom-border: 1px solid $black
$header-background: none //url(../images/background-chemistry.jpg)
$button-hover-color : $red


//menu
$main-menu-background: $white
$main-menu-link-color: $black
$main-menu-link-hover: $purple
$main-menu-left-border: $header-bottom-border
$main-menu-color: $white
$sub-menu-background: $light-gray
 
//hero
$hero-gradient: linear-gradient(to left, $red, $purple)