//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Francois+One');

//colors
$black : black
$white : white
$light-gray : #efefef

$red   : #f81f22
$purple : #902f8c
$pink : #cf7bb5
$hibiscus: #B4265E

$light-blue : #a3dfde
$mint       : #a4e0c4

//base
$font-main: Lato, Helvetica 
$mobile-switch : 768px
$input-borders : 1px solid
$link-color: $hibiscus
$link-hover : darken($hibiscus, 15%)

//buttons
$button-background: $black
$button-color: $white
$button-background-hover: $hibiscus
$button-border: 2px solid $hibiscus

$footer-background : $light-gray

//header
$header-bottom-border: 0 //1px solid $black
$header-background: none //url(../images/background-chemistry.jpg)
$button-hover-color : $hibiscus

//menu
$main-menu-background: $white
$main-menu-link-color: $black
$main-menu-link-hover: $hibiscus
$main-menu-left-border: $header-bottom-border
$main-menu-color: $white
$sub-menu-background: $light-gray
 
//hero
$hero-gradient: linear-gradient(to left, $red, $hibiscus)
$inner-hero-color: $hibiscus

//block section
$block-section-callout-icon-background : $hibiscus

//
$repeating-sections-icon-color : $hibiscus